// Fonts
$font-logo: 'Niconne', cursive;
$font-logo2: 'PT Serif Caption', serif;
$font-head2: 'PT Serif Caption', serif;
$font-head: 'PT Serif', serif;
$font-body: 'PT Sans', sans-serif;

// base 16px, scale 1.33333
$fs-2: 0.563rem;
$fs-1: 0.75rem;
$fs0: 1rem;
$fs1: 1.333rem;
$fs2: 1.777rem;
$fs3: 2.369rem;
$fs4: 3.157rem;

$magic: $fs0 * 1.5;

// breakpoints
$bp0: 420px;
$bp1: 768px;
$bp2: 1024px;

// Colors
$color-primary-0: #F1ECE9;	// Main Primary color */
$color-primary-1: #FFFFFF;
$color-primary-2: #FFFEFD;
$color-primary-3: #C9C0BA;
$color-primary-4: #A7978E;

$color-complement-0: #979D9B;	// Main Complement color */
$color-complement-1: #FFFFFF;
$color-complement-2: #C8CAC9;
$color-complement-3: #798380;
$color-complement-4: #5C6D68;

$color-black: #0A0A0A;