.hero {
    position: relative;
    width: 100%;
    height: 75vh;

    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    &--index {
        background-image: url("/images/agreement-application-business-893894.jpg");
    }
    &--impresa {
        background-image: url("/images/fabrics-factory-industry-236748.jpg");
    }
    &--consumatori {
        background-image: url("/images/bag-bags-bargain-5956.jpg");
    }
    &--contatti {
        background-image: url("/images/pawel-czerwinski-784154-unsplash.jpg");
    }

    &-box {
        flex: 0 0 auto;
        background-color: rgba(255, 255, 255, 0.8);

        @include breakpoint(desktop) {
            padding: 3rem;
            width: 775px;
        }
        @include breakpoint(tablet) {
            padding: 2rem;
            width: 700px;
        }
        @include breakpoint(phone) {
            padding: 1rem;
            width: calc(100% - 1rem);
        }
    }

    &-title {
        @extend .typ-hero;

        em {
            @extend .typ-hero--em;
        }
    }
}
