.hero {
    position: relative;
    width: 100%;
    height: 75vh;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    display: flex;
    justify-content: center;
    align-items: center;

    &--index {
        background-image: url("../images/piazza_comune_prato_2048.jpg");
    }
    &--consulenze {
        background-image: url("../images/agreement-application-business-893894_2048.jpg");
    }
    &--impresa {
        background-image: url("../images/fabrics-factory-industry-236748_2048.jpg");
    }
    &--consumatori {
        background-image: url("../images/bag-bags-bargain-5956_2048.jpg");
    }
    &--contatti {
        background-image: url("../images/pawel-czerwinski-784154-unsplash_2048.jpg");
    }
    &--come-lavoriamo {
        background-image: url("../images/apple-devices-artificial-flowers-business-196658_2048.jpg");
    }
    &--tutela-persona {
        background-image: url("../images/adult-audience-celebration-260907_2048.jpg");
    }
    &--privacy {
        background-image: url("../images/privacy_policy_2048.jpg");
    }

    &-box {
        flex: 0 0 auto;
        background-color: rgba(255, 255, 255, 0.85);

        display: flex;
        justify-content: center;
        align-items: center;

        @include breakpoint(desktop) {
            padding: 3rem;
            width: 775px;
            min-height: 312px;
        }
        @include breakpoint(tablet) {
            padding: 2rem;
            width: 700px;
            min-height: 244px;
        }
        @include breakpoint(phone) {
            padding: 1rem;
            width: calc(100% - 1rem);
            min-height: 176px;
        }
    }

    &-title {
        @extend .typ-hero;

        em {
            @extend .typ-hero--em;
        }
        b {
            @extend .typ-hero--bold;
        }
    }
}
