$white: #FFFFFF;

$c-text: #0A0A0A;
$c-text-light: #4A4A4A;
$c-text-dark: #000000;

// $c-accent: hsl(0, 83%, 58%);
// $c-accent-light: hsl(0, 83%, 68%);
// $c-accent-dark: hsl(0, 83%, 48%);

$c-accent: hsl(230, 77.5%, 17.5%);
$c-accent-light: hsl(230, 77.5%, 27.5%);
$c-accent-dark: hsl(230, 77.5%, 7.5%);

$c-accentdark: #bec7f1;

$c-bg-light: #F8F8F8; // rgb(252, 251, 250);
$c-bg-dark: rgb(48, 47, 47);
