$white: #FFFFFF;

$c-text: #0A0A0A;
$c-text-light: #4A4A4A;
$c-text-dark: #000000;

$c-accent: hsl(0, 83%, 58%);
$c-accent-light: hsl(0, 83%, 63%);
$c-accent-dark: hsl(0, 83%, 48%);

$c-bg-light: rgb(252, 251, 250);
