.component{
    &-btn {
        flex: 0 0 auto;

        @extend .typ-btn;
        text-transform: uppercase;
        background-color: $c-accent;
        border-radius: 8px;
        text-decoration: none;
        padding: 0.8rem 2rem;

        &:hover {
            background-color: $c-accent-light;
        }

        &:active,
        &:hover:active {
            background-color: $c-accent-dark;
        }
    }
}
