@import "reset";

@import "colors";
@import "layout";
@import "typography";

@import "components";

@import "partials/header";
@import "partials/footer";
@import "partials/hero";

.consulenze {
    @extend .page;


    &-container {
        @extend .container-narrow;
        display: flex;
        flex-direction: column;
    }

    &-form {
        width: 100%;
        padding: 3rem 0;

        display: flex;
        justify-content: center;

        &--light {
            background-color: $c-bg-light;
        }
    }

    &-box {
        width: 100%;
        padding: 3rem 0;

        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    &-title {
        @extend .typ-copy-title;
        text-align: center;
    }

    &-subtitle {
        @extend .typ-copy-subtitle;
        margin-top: 3rem;
    }

    &-paragraph {
        @extend .typ-copy-paragraph;
        margin-top: 1rem;
    }

    &-input {
        @extend .component-input;
        width: 100%;
    }

    &-textarea {
        @extend .component-input;
        width: 100%;
        min-height: 10rem;
    }

    &-checkbox {
        @extend .typ-input;
        margin-top: 2rem;
    }

    &-cta {
        margin-top: 3rem;
        text-align: center;

        input {
            @extend .component-btn;
            display: inline-block;
        }
    }
}
