@import "reset";

@import "colors";
@import "layout";
@import "typography";

@import "components";

@import "partials/header";
@import "partials/footer";
@import "partials/hero";

.contatti {
    @extend .page;

    &-container {
        @extend .container;
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    &-box {
        position: relative;
        $img-margin: 88px;
        @include breakpoint(desktop) {
            width: calc(50% + #{$img-margin});
            padding: 4rem 0 4rem $img-margin;
        }
        @include breakpoint(tablet) {
            width: calc(50% + #{$img-margin});
            padding: 4rem 0 4rem $img-margin;
        }
        @include breakpoint(phone) {
            width: 100%;
            padding: 4rem 0 4rem $img-margin;
        }

    }

    &-box + &-box {
        padding-top: 0;
    }

    &-icon {
        position: absolute;
        left: 0;
    }

    &-title {
        @extend .typ-copy-title;
    }

    &-paragraph {
        @extend .typ-copy-paragraph;
        margin-top: 2rem;
        a {
            color: $c-accent;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &-list {
        @extend .typ-copy-paragraph;
        margin-top: 3rem;
        padding-left: 1.8rem;
        list-style-type: disc;
    }

    &-item {
        @extend .typ-copy-item;
        margin-top: 0.5rem;
    }

    &-map {
        @extend .component-map;
        &-container {
            @extend .component-map-container;
        }
    }

    &-form {

      width: 100%;
      padding: 3rem 0;

      display: flex;
      justify-content: center;

      &-container {
        @extend .container-narrow;
      }

      &--light {
          background-color: $c-bg-light;
      }

      &-box {
          width: 100%;
          padding: 3rem 0;

          display: flex;
          flex-direction: column;
          align-items: stretch;
      }

      &-title {
          @extend .typ-copy-title;
          text-align: center;
      }

      &-subtitle {
          @extend .typ-copy-subtitle;
          margin-top: 3rem;
      }

      &-paragraph {
          @extend .typ-copy-paragraph;
          margin-top: 1rem;
      }

      &-input {
          @extend .component-input;
          width: 100%;
      }

      &-textarea {
          @extend .component-input;
          width: 100%;
          min-height: 10rem;
      }

      &-checkbox {
          @extend .typ-input;
          margin-top: 2rem;

          a {
              color: $c-accent;
              text-decoration: none;
              &:hover {
                  text-decoration: underline;
              }
          }
      }

      &-cta {
          margin-top: 3rem;
          text-align: center;

          input {
              @extend .component-btn;
              display: inline-block;
          }
      }
    }
}
