@import "reset";

@import "colors";
@import "layout";
@import "typography";

@import "components";

@import "partials/header";
@import "partials/footer";
@import "partials/hero";


.index {
    @extend .page;

    &-motto {
        @extend .component-motto;

        &-content {
            @extend .component-motto-content;
        }

        &-box {
            @extend .component-motto-box;
        }

        &-quote {
            @extend .component-motto-quote;
        }

        &-cta {
            @extend .component-motto-cta;
        }
    }

    &-area {
        @extend .component-area;


        &-container {
            @extend .component-area-container;
        }

        &-col {
            @extend .component-area-col;
        }

        &-img {
            @extend .component-area-img;

            &--people {
                background-image: url('/images/adult-audience-celebration-260907.jpg');
            }

            &--companies {
                background-image: url('/images/adult-audience-celebration-260907.jpg');
            }

            &--consumers {
                background-image: url('/images/bag-bags-bargain-5956.jpg');
            }
        }

        &-title {
            @extend .component-area-title;

            @include breakpoint(tablet) {
                min-height: 120px;
            }
            @include breakpoint(desktop) {
                min-height: 80px;
            }
        }

        &-paragraph,
        &-address {
            @extend .component-area-paragraph;
        }
        &-list {
            @extend .component-area-list;
        }
        &-item {
            @extend .component-area-item;
        }
    }

    &-consultancy,
    &-contacts {
        flex: 0 0 auto;
        width: 100%;

        display: flex;
        justify-content: center;

        @include breakpoint(desktop) {
            padding: 6rem 0;
        }
        @include breakpoint(tablet) {
            padding: 3rem 0;
        }
        @include breakpoint(phone) {
            padding: 2rem 0;
        }

        &--lightbg {
            background-color: $c-bg-light;
        }

        &-container {
            @extend .container;
            padding: 0;

            display: flex;
            @include breakpoint(phone) {
                flex-direction: column;
            }
        }

        &-left,
        &-right {
            flex: 0 0 auto;
            padding: $container-padding;
            width: 50%;
            @include breakpoint(phone) {
                width: 100%;
            }
        }

        &-left {
            text-align: right;
        }
        &-right {
            text-align: left;
        }

        &-title {
            @extend .component-caption-link;

            margin-top: 3rem;
            @include breakpoint(phone) {
                text-align: center;
            }
        }

        &-img {
            max-width: 100%;
            width: calc(100% - 10px);
            box-shadow: 10px 10px 24px 0 rgba(0,0,0,0.50);
        }

        &-list,
        &-paragraph,
        &-address {
            @extend .typ-copy-paragraph;
            @include breakpoint(desktop) {
                margin-top: 3rem;
            }
            @include breakpoint(tablet, phone) {
                margin-top: 2rem;
            }
        }

        &-item {
            @extend .typ-copy-item;
        }
    }

    &-field {
        flex: 0 0 auto;
        width: 100%;

        display: flex;
        @include breakpoint(desktop) {
            flex-direction: row;
            min-height: 500px;
        }
        @include breakpoint(tablet) {
            flex-direction: row;
            min-height: 500px;
        }
        @include breakpoint(phone) {
            flex-direction: column;
        }


        $self: &;

        &-picture {
            flex: 0 0 50%;
            @include breakpoint(phone) {
                order: 1;
            }

            min-height: 30vh;

            background-repeat: no-repeat;
            background-size: cover;

            &--people {
                background-image: url('/images/adult-audience-celebration-260907.jpg');
            }

            &--companies {
                background-image: url('/images/adult-audience-celebration-260907.jpg');
            }

            &--consumers {
                background-image: url('/images/bag-bags-bargain-5956.jpg');
            }
        }


        &-description {
            @include breakpoint(phone) {
                order: 2;
            }

            text-align: left;
            flex: 0 0 50%;
            background-color: $c-bg-light;

            display: flex;
            align-items: top;

            &--white {
                background-color: $white;
            }
        }

        &-box {
            flex: 0 0 auto;
            display: flex;
            flex-direction: column;
            @include breakpoint(desktop) {
                width: calc(#{$desktop-container-width} / 2);
                padding: 5rem;
            }
            @include breakpoint(tablet) {
                width: calc(#{$tablet-container-width} / 2);
                padding: 3rem;
            }
            @include breakpoint(phone) {
                width: 100%;
                padding: 2rem $container-padding 3rem $container-padding;
            }
        }

        &-title {
            @extend .typ-copy-title;

            position: relative;

            text-decoration: none;
            text-align: center;

            &:hover {
                color: $c-text-light;
            }

            &:active,
            &:hover:active {
                color: $c-text-dark;
            }

            &::after,
            &::before {
                position: absolute;
                color: $c-accent;
                top: 0;
                @include breakpoint(phone) {
                    display: none;
                }
            }
        }

        &-list,
        &-paragraph,
        &-address {
            margin-top: 3rem;
            @extend .typ-copy-paragraph;
        }

        &-item {
            @extend .typ-copy-item;
        }

        &--odd {
            #{$self}-box {
                flex: 0 0 auto;
                padding-right: $container-padding;
            }

            #{$self}-description {
                justify-content: flex-start;
            }

            #{$self}-title {
                @include breakpoint(desktop, tablet) {
                    text-align: left;
                }

                &::before {
                    content: '<';
                    transform: translateX(-200%);
                }
            }
        }

        &--even {
            #{$self}-box {
                flex: 0 0 auto;
                padding-left: $container-padding;
            }

            #{$self}-description {
                justify-content: flex-end;
                @include breakpoint(desktop, tablet) {
                    text-align: right;
                }
            }

            #{$self}-title {
                &::after {
                    content: '>';
                    transform: translateX(100%);
                }
                @include breakpoint(desktop, tablet) {
                    text-align: right;
                }
            }
        }
    }

    &-map {
        @extend .component-map;
        &-container {
            @extend .component-map-container;
        }
    }
}
