@import "reset";

@import "colors";
@import "layout";
@import "typography";

@import "components";
@import "ihavecookies";

@import "partials/header";
@import "partials/footer";
@import "partials/hero";


.index {
    @extend .page;

    &-motto {
        @extend .component-motto;

        &-content {
            @extend .component-motto-content;
        }

        &-box {
            @extend .component-motto-box;
        }

        &-quote {
            @extend .component-motto-quote;
        }

        &-cta {
            @extend .component-motto-cta;
        }
    }

    &-area {
        @extend .component-area;


        &-container {
            @extend .component-area-container;
        }

        &-col {
            @extend .component-area-col;
        }

        &-img {
            @extend .component-area-img;

            &--people {
                background-image: url('../images/adult-audience-celebration-260907_512.jpg');
            }

            &--companies {
                background-image: url('../images/fabrics-factory-industry-236748_512.jpg');
            }

            &--consumers {
                background-image: url('../images/bag-bags-bargain-5956_512.jpg');
            }
        }

        &-title {
            @extend .component-area-title;

            border-bottom: 5px solid black;
            padding-bottom: 16px;
            align-self: flex-start;
        }

        &-paragraph,
        &-address {
            @extend .component-area-paragraph;
        }
        &-list {
            @extend .component-area-list;
        }
        &-item {
            @extend .component-area-item;
        }
    }

    &-virus,
    &-consultancy,
    &-contacts {
        flex: 0 0 auto;
        width: 100%;

        display: flex;
        justify-content: center;

        @include breakpoint(desktop) {
            padding: 6rem 0;
        }
        @include breakpoint(tablet) {
            padding: 3rem 0;
        }
        @include breakpoint(phone) {
            padding: 2rem 0;
        }

        &--lightbg {
            background-color: $c-bg-light;
        }

        &-container {
            @extend .container;
            padding: 0;

            display: flex;
            align-items: center;
            @include breakpoint(phone) {
                flex-direction: column;
            }
        }

        &-left,
        &-right {
            flex: 0 0 auto;
            display: flex;
            flex-direction: column;

            padding: $container-padding;
            width: 50%;
            @include breakpoint(phone) {
                width: 100%;
            }
        }

        &-left {
            text-align: right;
            align-items: flex-end;
        }
        &-right {
            text-align: left;
            align-items: flex-start;
        }

        &-title {
            @extend .component-caption-link;
            @include breakpoint(phone) {
                text-align: center;
            }
        }

        &-img {
            max-width: 100%;
            width: calc(100% - 10px);
            // box-shadow: 10px 10px 24px 0 rgba(0,0,0,0.50);
        }

        &-list,
        &-paragraph,
        &-address {
            @extend .typ-copy-paragraph;
            @include breakpoint(desktop) {
                margin-top: 1rem;
            }
            @include breakpoint(tablet, phone) {
                margin-top: 1rem;
            }

            a {
                color: $c-accent;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &-cta {
          @extend .component-btn;
          margin-top: 2rem;
        }

        &-item {
            @extend .typ-copy-item;
        }
    }

    &-map {
        @extend .component-map;
        &-container {
            @extend .component-map-container;
        }
    }
}
