@import "reset";

@import "colors";
@import "layout";
@import "typography";

@import "components";

@import "partials/header";
@import "partials/footer";
@import "partials/hero";

.tutela-persona {
    @extend .page;

    &-what {
        @extend .wrapper;
    }

    &-container {
        @extend .container;
        padding: 0;
        display: flex;

        @include breakpoint(phone) {
            flex-direction: column;
        }
    }

    &-menu {
        flex: 0 0 auto;
        padding: 3rem 1rem;

        @include breakpoint(desktop) {
            width: 30%;
        }
        @include breakpoint(tablet) {
            width: 40%;
        }
        @include breakpoint(phone) {
            padding: 2rem 1rem;
        }

        background-color: $c-bg-light;

        &-list {

        }

        &-item {
            margin: 0.5rem 0 1rem 0;
            a {
                @extend .typ-nav-item;
                text-decoration: none;
                &:hover {
                    color: $c-accent-light;
                }
                &:active,
                &:hover:active {
                    color: $c-accent-dark;
                }

                .fa.fa-chevron-right {
                    font-size: 80%;
                }
            }
        }
    }

    &-content {
        flex: 1 1 auto;
        padding: 3rem 1rem;
        @include breakpoint(phone) {
            padding: 2rem 1rem;
        }

        display: flex;
        justify-content: center;


        &-title {
            @extend .typ-copy-title;
            text-align: center;
        }

        &-paragraph {
            @extend .typ-copy-paragraph;
            margin-top: 2rem;
        }

        &-list {
            @extend .typ-copy-paragraph;
            margin-top: 2rem;
            padding-left: 1.8rem;
            list-style-type: disc;
        }

        &-item {
            @extend .typ-copy-item;
            margin-top: 0.5rem;
        }

        &-cta {
            display: flex;
            justify-content: center;
            a {
                @extend .component-motto-cta;
            }
        }
    }


}
