<!DOCTYPE html>
<html>
  <head>
    <title>Getting Started</title>
    <link rel="stylesheet" type="text/css" href="../styles/index.scss">
  </head>
  <body>
      <%- include('../partials/header'); -%>

      <p>Contatti</p>
  </body>
</html>
