<footer class="footer">
    <nav class="footer-container">

        <div class="footer-address">
            <h5 class="footer-title">Studio legale Lenzi</h5>
            <address class="footer-address-street">
                Tel: 0574.35703<br/>
                e-mail: francesca@avvocatolenzi.it<br/>
                Viale Vittorio Veneto n. 7 59100 - PO
            </address>
        </div>

        <div class="footer-sitemap">
            <h5 class="footer-title">Mappa del Sito</h5>
            <ol>
                <li><a class="footer-link" href="#">Home Page</a></li>
                <li><a class="footer-link" href="#">Contatti</a></li>
                <li><a class="footer-link" href="#">Approccio</a></li>
                <li><a class="footer-link" href="#">Aree di Competenza</a></li>
            </ol>
        </div>

        <div class="footer-legal">
            <h5 class="footer-title">Informative</h5>
            <ol>
                <li><a class="footer-link" href="#">Privacy Policy</a></li>
                <li><a class="footer-link" href="#">Cookie</a></li>
            </ol>
        </div>
    </nav>
</footer>
