<footer class="footer">
    <nav class="footer-container">

        <div class="footer-address">
            <h5 class="footer-title">Studio legale Lenzi</h5>
            <address class="footer-address-street">
                Tel: <a class="footer-link" href="tel:057435703">0574.35703</a><br/>
                e-mail: <a class="footer-link" href="mailto:francesca@avvocatolenzi.it">francesca@avvocatolenzi.it</a><br/>
                Viale Vittorio Veneto n. 7 59100 - PO
            </address>
        </div>

        <div class="footer-sitemap">
            <h5 class="footer-title">Mappa del Sito</h5>
            <ol>
                <li><a class="footer-link" href="/">Home Page</a></li>
                <li><a class="footer-link" href="/come-lavoriamo.html">Come Lavoriamo</a></li>
                <li><a class="footer-link" href="/consulenze.html">Consulenze</a></li>
                <li><a class="footer-link" href="/contatti.html">Contatti</a></li>

                <li><a class="footer-link" href="/tutela-persona.html">Tutela della persona</a></li>
                <li><a class="footer-link" href="/servizi-imprese.html">Servizi alle imprese</a></li>
                <li><a class="footer-link" href="/tutela-consumatori.html">Tutela dei consumatori</a></li>
            </ol>
        </div>

        <div class="footer-legal">
            <h5 class="footer-title">Informative</h5>
            <ol>
                <li><a class="footer-link" href="/privacy.html">Privacy Policy</a></li>
                <li><a class="footer-link" href="#" id="footer-cookie-link">Preferenze Cookie</a></li>
            </ol>
        </div>
    </nav>
</footer>
