<header class="header">
    <nav class="header-nav">
        <a class="header-nav-logo" href="/">
            Avv. Francesca Lenzi
        </a>

        <a class="header-nav-item" href="/approccio">Approccio</a>
        <a class="header-nav-item" href="/aree-di-competenza">Aree di Competenza</a>
        <a class="header-nav-item" href="/consulenze">Consulenze</a>
        <a class="header-nav-item" href="/contatti">Contatti</a>
    </nav>
</header>
