<header class="header">
    <nav class="header-nav">
        <a class="header-nav-logo" href="/">
            Avv. Francesca Lenzi
        </a>
        <div class="header-nav-filler"></div>
        <a class="header-nav-item" href="/come-lavoriamo.html">Approccio</a>
        <a class="header-nav-item" href="/consulenze.html">Consulenze</a>
        <a class="header-nav-item" href="/contatti.html">Contatti</a>
        <a class="header-nav-item" href="#" id="header-area-btn">Aree di Competenza <i class="fa fa-chevron-down"></i></a>

        <a href="javascript:void(0);" class="header-nav-btn" id="header-btn">
            <i class="fa fa-bars"></i>
        </a>

        <aside class="header-fields" id="header-fields" style="display: none;">
            <a class="header-menu-item" href="/tutela-persona.html">Tutela della persona</a>
            <a class="header-menu-item" href="/servizi-imprese.html">Servizi alle imprese</a>
            <a class="header-menu-item" href="/tutela-consumatori.html">Tutela dei consumatori</a>
        </aside>
    </nav>

    <aside class="header-menu" id="header-menu" style="display: none;">
        <a class="header-menu-item" href="/come-lavoriamo.html">Approccio</a>
        <a class="header-menu-item" href="/consulenze.html">Consulenze</a>
        <a class="header-menu-item" href="/contatti.html">Contatti</a>

        <a class="header-menu-item" href="/tutela-persona.html">Tutela della persona</a>
        <a class="header-menu-item" href="/servizi-imprese.html">Servizi alle imprese</a>
        <a class="header-menu-item" href="/tutela-consumatori.html">Tutela dei consumatori</a>
    </aside>
</header>
